{{template "admin" .}}

{{define "page-title"}}
Reservations Calendar
{{end}}

{{define "content"}}
    {{$now := index .Data "now"}}
    {{$rooms := index .Data "rooms"}}
    {{$nod := index .IntMap "num_of_days"}}
    {{$curMonth := index .StringMap "current_month"}}
    {{$curYear := index .StringMap "current_month_year"}}

    <div class="text-center">
        <h3>{{formatCalendarDate $now "January"}}  {{formatCalendarDate $now "2006"}}</h3>
    </div>
    <div class="float-left">
        <a href="/admin/reservations-calendar?y={{index .StringMap "last_month_year"}}&m={{index .StringMap "last_month"}}" class="btn btn-sm btn-outline-primary">&lt;&lt;</a>
    </div>
    <div class="float-right">
        <a href="/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}" class="btn btn-sm btn-outline-primary">&gt;&gt;</a>
    </div>
    <div class="clearfix"></div>

    <form method="post" action="/admin/reservations-calendar">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="y" value="{{$curYear}}">
        <input type="hidden" name="m" value="{{$curMonth}}">
        {{range $rooms}}
            {{$roomId := .ID}}
            {{$reservation := index $.Data (printf "reservation_map_%d" .ID)}}
            {{$block := index $.Data (printf "block_map_%d" .ID)}}
            <h4 class="mt-4">{{.RoomName}}</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <tr>
                        {{range $index:= iterate $nod }}
                            <td class="table-dark text-center">
                                {{add $index 1}}
                            </td>
                        {{end}}
                    </tr>
                    <tr class="text-center">
                        {{range $index := iterate $nod}}
                            <td>
                                {{if gt (index $reservation (printf "%s-%s-%d" $curYear $curMonth (add $index 1))) 0}}
                                    <a href="/admin/reservations/cal/{{index $reservation (printf "%s-%s-%d" $curYear $curMonth (add $index 1))}}/show?y={{$curYear}}&m={{$curMonth}}" class="text-danger font-weight-bold">R</a>
                                {{else}}
                                    <input
                                        {{if gt (index $block (printf "%s-%s-%d" $curYear $curMonth (add $index 1))) 0}}
                                            checked
                                            name="remove_block_{{$roomId}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                            value="{{index $block (printf "%s-%s-%d" $curYear $curMonth (add $index 1))}}"
                                        {{else}}
                                            name="add_block_{{$roomId}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                            value="1"
                                        {{end}}
                                        type="checkbox">
                                {{end}}
                            </td>
                        {{end}}
                    </tr>
                </table>
            </div>
            

        {{end}}
        <hr>
        <input type="submit" class="btn btn-primary" value="Save Changes">
    </form>
    
{{end}}