{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                {{$res := index .Data "reservation"}}
                <h1 class="text-center mt-3">Make Reservation</h1>
                <p>
                    <h4>Reservation Details</h4>
                    <ul>
                        <li>Room: {{$res.Room.RoomName}}</li>
                        <li>Arrival: {{index .StringMap "start_date"}}</li>
                        <li>Departure: {{index .StringMap "end_date"}}</li>
                    </ul>
                </p>    
                
                <form method="POST" action="" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="start_date" id="start_date" value="{{index .StringMap "start_date"}}">
                    <input type="hidden" name="end_date" id="end_date" value="{{index .StringMap "end_date"}}">
                    <input type="hidden" name="room_id" id="room_id" value="{{$res.RoomId}}">
                    <div class="form-group mt-5">
                        <label for="first_name">First Name:</label>
                        {{with .Form.Errors.Get "first_name"}}
                         <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.FirstName}}">
                    </div>
                    <div class="form-group">
                        <label for="first_name">Last Name:</label>
                        {{with .Form.Errors.Get "last_name"}}
                         <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.LastName}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                         <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.Email}}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" name="phone" id="phone" class="form-control" required autocomplete="off" value="{{$res.Phone}}">
                    </div>
                    <hr>
                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                </form>
            </div>
        </div>
    </div>
{{end}}